<div class="portlet light" ng-controller="TeamController" ng-init="showteam()">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">TEAMS GROUP</span>
        </div>
        <div class="actions">
            <button ng-click="display.addTeam =! display.addTeam" class="btn green"><i class="fa fa-plus"></i> Add new team</button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row" ng-if="display.addTeam">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" ng-submit="add()" name="form" novalidate>
                    <div class="form-group">
                        <label for="">Team name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="teamname" placeholder="Team name..." required ng-model="team.name" name="teamname" />
                        <div ng-show="form.$submitted || form.teamname.$touched">
                            <div class="error" ng-show="form.teamname.$error.required">Team name can not be blank.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Description: <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="teamdesc" placeholder="Team description..." required ng-model="team.description" rows="5"></textarea>
                        <div ng-show="form.$submitted || form.teamdesc.$touched">
                            <div class="error" ng-show="form.teamdesc.$error.required">Team description can not be blank.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Invite member: <span class="text-danger">*</span></label>
                        <ui-select multiple required name="select" ng-model="team.selectedMember" theme="bootstrap">
                            <ui-select-match placeholder=" Select members...">{{$item.name.first}} {{$item.name.last}}</ui-select-match>
                            <ui-select-choices repeat="member in members | propsFilter: {name: $select.search}"> {{member.name.first}} {{member.name.last}}</ui-select-choices>
                        </ui-select>
                        <div ng-show="form.$submitted || form.select.$touched">
                            <div class="error" ng-show="!team.selectedMember.length > 0">Invite members can not be blank.</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="reset" class="btn btn-outline dark"> Cancle</button>
                        <button ng-disabled="form.$invalid || !team.selectedMember.length > 0" type="submit" class="btn green"><i class="fa fa-check"></i> Add team</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="team in teams" ng-click="open(team)">
                <div class="todo-tasklist">
                    <div class="todo-tasklist-item todo-tasklist-item-border-green">
                        <div class="todo-tasklist-item-title" style="font-size:22px;">{{team.name}} <span class="pull-right" style="font-size:13px;opacity:0.8;padding-top:5px;">by {{team.owner.name.first}} {{team.owner.name.last}}</span></div>
                        <div class="todo-tasklist-item-title">
                            <img class="todo-userpic pull-left" ng-repeat="avatarMem in team.members | limitTo:avatarNum" ng-src="/server/{{avatarMem.avatar}}" width="35px" height="35px">
                            <span class="pull-right" style="font-size:13px;opacity:0.8;padding-top:5px;">{{team.members.length}} mem</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="todo-tasklist-item-text"> <span style="font-size:16px;">{{team.description}}</span> </div>
                        <div class="todo-tasklist-controls">
                            <span class="todo-tasklist-date pull-left" style="margin-top:10px;">
                                <i class="fa fa-calendar"></i> {{team.created_at | date:'dd-MM-yyyy HH:mm:ss'}} </span>
                            <span class="btn green pull-right"><i class="fa fa-check"></i> Active</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>